<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div id="myApp">
      <!-- <h3>Batman quotes ({{quotes.length}})</h3> -->
      <h3>Batman quotes ({{totalQuotes}})</h3>
      <!-- <button v-on:click="toggleAuthor">
        {{showAuthor ? 'Hide' : 'Show'}} author
      </button> -->

      <p>
        <input
          type="text"
          placeholder="Add quote"
          @keypress.enter="addQuote"
          v-model="newMessage"
        />
        <button @click="addQuote">Add quote</button>
      </p>
      <button @click="toggleAuthor">
        {{showAuthor ? 'Hide' : 'Show'}} author
      </button>

      <hr />

      <ul>
        <li v-for="({quote, author}, index) in quotes">
          <span>{{index + 1}} - {{quote}}</span>
          <blockquote v-if="showAuthor">{{author}}</blockquote>
          <!--  <blockquote v-show="showAuthor">{{author}}</blockquote> -->
          <!-- v-show -- Element always exist. Only changes property display -->
        </li>
      </ul>
    </div>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="app.js"></script>
  </body>
</html>
